<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.qr" >

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Qrapp"
        android:extractNativeLibs="true"
        >
        <activity
            android:name="android.app.NativeActivity"
            android:label="Qrapp">

            <meta-data
                android:name="android.app.lib_name"
                android:value="qr" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
